@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
	background-color: black;
	overflow-x: hidden;
}


/* WAVE ANIMATION */
.wave-container
{
	margin-top: 144px;
	display: flex;	
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	min-height: 60vh;
	background: #6AD3FE;
}

section
{
	position: relative;
	width: 100%;
}

section .waves
{
	position: relative;
	
} 

section .waves h2
{
	color: grey;
	font-size: 110px;
	line-height: 110px;
	bottom: 400px;
	font-weight: 900;

	
} 

section .waves .wave
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: url(../public/wavesvg.svg);
	background-size: 1000px 100px;
} 

section .waves .wave#wave1
{
	opacity: 1;
	bottom: 0;
	z-index: 10;
	animation: animate-wave 4s linear infinite;
}

section .waves .wave#wave2
{
	opacity: 0.5;
	bottom: 10px;
	z-index: 9;
	animation: animate-wave2 4s linear infinite;
}

section .waves .wave#wave3
{
	opacity: 0.2;
	bottom: 15px;
	z-index: 8;
	animation: animate-wave 2s linear infinite;
}

section .waves .wave#wave4
{
	opacity: 0.7;
	bottom: 20px;
	z-index: 9;
	animation: animate-wave 2s linear infinite;
}

@keyframes animate-wave
{
	0%
	{
		background-position-x: 1000px;
	}
	100%
	{
		background-position-x: 0px;
	}
}

@keyframes animate-wave2
{
	0%
	{
		background-position-x: 0px;
	}
	100%
	{
		background-position-x: 1000px;
	}
}

.logo-cloud {
	position: absolute;
	bottom: 300px;
	left: -200px;
	transform: translateX(50vw);
	width: 400px;
	align-self: center;
}

.pirate-boat {
	position: absolute;
	bottom: 40px;
	z-index: 7;
	left: 0;
	pointer-events: none;
	
	animation: boat-floating 10s linear infinite;
}

@keyframes boat-floating
{
	0%
	{transform: rotate(0deg) translateX(100vw);}
	25%
	{transform: rotate(3deg) translateX(67.5vw);}
	50%
	{transform: rotate(0deg) translateX(35vw);}
	75%
	{transform: rotate(-3deg) translateX(2.5vw);}
	100%
	{transform: rotate(0deg) translateX(-30vw);}
}

.cartoon-cloud-1 {
	position: absolute;
	z-index: 6;
	bottom: 500px;
	left: 0;
	pointer-events: none;
	animation: cloud-1-floating 100s linear infinite;
}
.cartoon-cloud-2 {
	position: absolute;
	z-index: 6;
	bottom: 450px;
	left: 0;
	pointer-events: none;
	animation: cloud-2-floating 100s linear infinite;
}
.cartoon-cloud-3 {
	position: absolute;
	z-index: 6;
	bottom: 600px;
	left: 0;
	pointer-events: none;
	animation: cloud-3-floating 100s linear infinite;
}
.cartoon-cloud-4 {
	position: absolute;
	z-index: 6;
	bottom: 550px;
	left: 0;
	pointer-events: none;
	animation: cloud-4-floating 100s linear infinite;
}
.cartoon-sun {
	position: absolute;
	z-index: 5;
	bottom: 500px;
	left: 100px;
	pointer-events: none;
	animation: sun-shining 2s linear infinite;
}

@keyframes cloud-1-floating
{
	0%
	{transform: translateX(-20vw);}
	
	100%
	{transform: translateX(50vw);}
}
@keyframes cloud-2-floating
{
	0%
	{transform: translateX(10vw);}
	
	100%
	{transform: translateX(80vw);}
}
@keyframes cloud-3-floating
{
	0%
	{transform: translateX(30vw);}
	
	100%
	{transform: translateX(100vw);}
}
@keyframes cloud-4-floating
{
	0%
	{transform: translateX(60vw);}
	
	100%
	{transform: translateX(130vw);}
}
@keyframes sun-shining
{
	0%
	{transform: scale(1);}
	
	50%
	{transform: scale(1.2);}

	100%
	{transform: scale(1);}

}

.under-water {
	position: absolute;
	z-index: 8;
	top: -50px;
	display: block;
	height: 300px;
	background-color: #00B2F4;
	width: 100%;
}


.under-water-divider {
	margin-top: 250px;
	display: block;
	height: 350px;
	background-color: black;
	width: 100%;
}

/* PARALLAX EFFECT */
.parallax-image {
	height: 100vh;
	width: 100%;
	background-image: url(../public/images/band-green-light.jpg);
	background-size: cover;
	background-position: center;
	display: table;
	background-attachment: fixed;
}

.footer {
	background-image: url('/images/wooden-ships-plakat-dokoran-hd.png');
	text-shadow: 1px 1px 50px white, 0 0 1em white, 0 0 0.2em white;
}
