@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: black;
	overflow-x: hidden;
}

/* ANIMATION */
.animation-container {
	margin-top: 144px;
	display: flex;	
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	min-height: 60vh;
	background: #6AD3FE;
}

section {
	width: 100%;
}

section .animations {
	position: relative;	
}

section .animations .wave {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: url(../public/wavesvg.svg);
	background-size: 500px 50px;
}

section .animations .wave#wave1 {
	opacity: 1;
	bottom: 0;
	z-index: 10;
	animation: animate-wave 20s linear infinite;
}

section .animations .wave#wave2 {
	opacity: 0.8;
	bottom: 10px;
	z-index: 9;
	animation: animate-wave2 20s linear infinite;
}

section .animations .wave#wave3 {
	opacity: 0.2;
	bottom: 15px;
	z-index: 8;
	animation: animate-wave 10s linear infinite;
}

section .animations .wave#wave4 {
	opacity: 0.7;
	bottom: 20px;
	z-index: 9;
	animation: animate-wave 10s linear infinite;
}

@keyframes animate-wave {
	0% {background-position-x: 1000px;}
	100% {background-position-x: 0px;}
}
@keyframes animate-wave2 {
	0%{background-position-x: 0px;}
	100%{background-position-x: 1000px;}
}

.logo-cloud {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	align-self: center;
	overflow-x: hidden;
}

.pirate-boat {
	display: block;
	position: absolute;
	bottom: 40px;
	z-index: 7;
	pointer-events: none;
	left: 50%;
	animation: boat-floating 20s linear infinite;
	overflow-x: hidden;
}

@keyframes boat-floating {
	0%
	{transform: rotate(0deg) translateX(-50%);}
	25%
	{transform: rotate(5deg) translateX(-50%);}
	50%
	{transform: rotate(0deg) translateX(-50%);}
	75%
	{transform: rotate(-5deg) translateX(-50%);}
	100%
	{transform: rotate(0deg) translateX(-50%);}
}

@media (min-width: 768px) {
	@keyframes boat-floating {
		0%
		{transform: rotate(0deg) translateX(80vw);}
		25%
		{transform: rotate(3deg) translateX(40vw);}
		50%
		{transform: rotate(0deg) translateX(0vw);}
		75%
		{transform: rotate(-3deg) translateX(-40vw);}
		100%
		{transform: rotate(0deg) translateX(-80vw);}
	}
}

.cartoon-cloud-1,
.cartoon-cloud-2,
.cartoon-cloud-3,
.cartoon-cloud-4 {
	position: absolute;
	left: 0;
	pointer-events: none;
	overflow-x: hidden;
	z-index: 6;
}

.cartoon-cloud-1 {
	bottom: 35vh;
}
.cartoon-cloud-2 {
	bottom: 45vh;
}
.cartoon-cloud-3 {
	bottom: 40vh;
}
.cartoon-cloud-4 {
	bottom: 35vh;
}

@media (min-width: 1024px) {
	.cartoon-cloud-1 {
		animation: cloud-1-floating 100s linear infinite;
	}
	.cartoon-cloud-2 {
		animation: cloud-2-floating 100s linear infinite;
	}
	.cartoon-cloud-3 {
		animation: cloud-3-floating 100s linear infinite;
	}
	.cartoon-cloud-4 {
		animation: cloud-4-floating 100s linear infinite;
	}
	@keyframes cloud-1-floating {
		0%
		{transform: translateX(-20vw); opacity: 0;}
		5%
		{opacity: 1;}
		90%
		{opacity: 1;}
		100%
		{transform: translateX(50vw); opacity: 0;} 
	}
	@keyframes cloud-2-floating {
		0%
		{transform: translateX(10vw); opacity: 0;}
		5%
		{opacity: 1;}
		90%
		{opacity: 1;}
		100%
		{transform: translateX(80vw); opacity: 0;}
	}
	@keyframes cloud-3-floating {
		0%
		{transform: translateX(30vw); opacity: 0;}
		5%
		{opacity: 0;}
		10%
		{opacity: 1;}
		90%
		{opacity: 1;}
		100%
		{transform: translateX(100vw); opacity: 0;}
	}
	@keyframes cloud-4-floating {
		0%
		{transform: translateX(60vw); opacity: 0;}
		5%
		{opacity: 1;}
		90%
		{opacity: 1;}
		100%
		{transform: translateX(130vw); opacity: 0;}
	}
}

@media (max-width: 1023px) {
	.cartoon-cloud-2 {
		animation: cloud-2-floating 20s linear infinite;
	}
	.cartoon-cloud-3 {
		animation: cloud-3-floating 20s linear infinite;
	}
	@keyframes cloud-2-floating {
		0%
		{transform: translateX(0vw); opacity: 0;}
		10%
		{opacity: 1;}
		80%
		{opacity: 1;}
		100%
		{transform: translateX(20vw); opacity: 0;}
	}
	@keyframes cloud-3-floating {
		0%
		{transform: translateX(40vw); opacity: 0;}
		25%
		{opacity: 0;}
		35%
		{opacity: 1;}
		80%
		{opacity: 1;}
		100%
		{transform: translateX(60vw); opacity: 0;}
	}
}

.cartoon-sun {
	z-index: 5;
	pointer-events: none;
	animation: sun-shining 2s linear infinite;
	overflow-x: hidden;
}

@keyframes sun-shining {
	0%
	{transform: scale(1);}
	50%
	{transform: scale(1.2);}
	100%
	{transform: scale(1);}
}

.under-water {
	position: absolute;
	z-index: 8;
	top: -20px;
	display: block;
	height: 200px;
	background-color: #00B2F4;
	width: 100%;
}

.under-water-divider {
	margin-top: 250px;
	display: block;
	height: 350px;
	background-color: black;
	width: 100%;
}

/* PARALLAX EFFECT */
.parallax-image {
	height: 100vh;
	width: 100%;
	background-image: url(../public/images/band-green-light.jpg);
	background-size: cover;
	background-position: right;
	display: table;
	background-attachment: fixed;
}

/* FOOTER */
.footer {
	background-image: url('/images/wooden-ships-plakat-dokoran-hd.png');
	text-shadow: 1px 1px 50px white, 0 0 1em white, 0 0 0.2em white;
}
